.menu{
    height: 5px;
}
.menu ul{
    align-items: center;
    justify-content: center;
}
.menu .nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #586875;
    font-size: 20px;
    font-weight: 500;
    background: #a5c8ca;
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 1px;
    box-shadow: 0 1px 3px -2px black;
}
.menu .nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu .nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    margin: 5px;
    background: #404950;
}
.user_profile{
    display: flex;
}
.user_profile .icon{
    padding: 8px 8px 0px 8px;
    border-radius: 10px;
    margin-left: 25px;
    background: white;
    color: #586875;
    font-size: 25px;
    margin-top: -47px;
    align-items: center;
}
.user_profile h2{
    color:#586875;
    margin-top: -40px;
    margin-left: 15px;
}
@media (max-width: 768px){
    .user_profile h2{
        display: none;
    }
    .menu .nav-menu li{
        font-size: 12px;
        font-weight: 700;
    }
    .user_profile .icon{
        margin-left: 3px;
        font-size: 15px;
        padding: 3px 3px 3px 3px;
        margin-top: -33px;
    }
}