.hero{
    height: 100vh;
    display: flex;
    margin-top: 30px;
    background-image: url('../Assets/Design sem nome (3).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 46px;
}    
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 1000;
}
.hero-left-p {
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black,  
    -1px 1px 0 black,  
    1px 1px 0 black; 
    font-size: 80px;
    font-weight: 700;
}
.hand-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hand-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #586875;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width: 768px){
    .hand-hand-icon img{
        width: 100%;
    }
    .hero-left{
        margin-left: 0px;
        padding-left: 30px;
        font-size: 18px;
    }
    .hand-hand-icon img{
        width: 100px;
    }
}